.post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  padding: var(--size-1) var(--size-2);
  border: var(--border-size-1) solid var(--surface-4);
  border-radius: var(--radius-2);
  color: var(--text-1);
}

.post:hover {
  background-color: var(--surface-2);
}

.title {
  font-size: var(--font-size-1);
}

.published-at {
  color: var(--text-2);
  flex-shrink: 0;
  font-size: var(--font-size-0);
}
