.child {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--size-3);
  padding: var(--size-1) var(--size-1) var(--size-1) var(--size-2);
  border: var(--border-size-1) solid var(--surface-4);
  border-radius: var(--radius-2);

  &:hover {
    background-color: var(--surface-2);
  }

  .icon {
    flex-shrink: 0;

    & > :first-child {
      inline-size: var(--size-4);
      block-size: auto;
    }
  }

  .unread-link {
    margin-inline: -0.75rem calc(-1 * var(--size-3));
    padding-block: 0.2rem;
    color: var(--brand);
    font-size: 0.9rem;
  }

  .post-actions-icon {
    inline-size: var(--size-4);
    opacity: 0.75;
  }

  button {
    flex-shrink: 0;

    &:first-of-type {
      margin-inline-start: auto;
    }
  }
}
