.node-header {
  block-size: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--size-2);
  margin-block-end: var(--size-2);
}

.previous-url {
  flex-shrink: 0;
}

.node-header > .posts-filter {
  margin-inline-start: auto;
}

.previous-icon {
  inline-size: var(--size-7);
  padding: var(--size-2);
}

.previous-url:focus-visible,
.previous-icon:hover {
  background-color: var(--surface-2);
  border-radius: var(--radius-2);
}
