.count {
  min-inline-size: var(--size-4);
  text-align: center;
  padding: 1px var(--size-1);
  background-color: var(--brand);
  color: var(--surface-1);
  font-size: var(--font-size-0);
  font-weight: var(--font-weight-7);
  border-radius: var(--radius-2);
  cursor: pointer;
  transition: transform 200ms linear;
}

.count:hover {
  transform: scale(133%);
}
