.count {
  min-inline-size: var(--size-4);
  text-align: center;
  padding: 1px var(--size-1);
  background-color: var(--brand);
  color: var(--surface-1);
  font-size: var(--font-size-0);
  border-radius: var(--radius-2);
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .count {
    transition: transform 200ms linear;
  }
}

.count:focus-visible,
.count:not([disabled]):hover {
  transform: scale(133%);
  background-color: var(--brand);
}

.count[disabled] {
  background-color: light-dark(var(--brand-1), var(--brand-0));
  cursor: default;
}
