/* Button styles are based on open-props button styles */
:where(.btn) {
  --highlight-size: 0;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: var(--size-2);
  color: var(--surface-1);
  border-radius: var(--radius-2);
  background: var(--brand);
  box-shadow:
    var(--shadow-2),
    0 1px var(--surface-3),
    0 0 0 var(--highlight-size) #adb5bd40;
  padding-block: 0.75ch;
  padding-inline: var(--size-relative-6);
}

@media (prefers-reduced-motion: no-preference) {
  :where(.btn) {
    transition:
      border-color 0.5s var(--ease-3),
      box-shadow 145ms var(--ease-4),
      outline-offset 145ms var(--ease-4);
  }
}

:where(.btn):where(:not(:active):hover) {
  --highlight-size: var(--size-2);

  transition-duration: 0.25s;
}

[disabled]:where(.btn) {
  background-color: var(--brand-2);
  box-shadow: var(--shadow-1);
  cursor: not-allowed;
}

a.btn {
  color: var(--surface-1);
  text-decoration: none;
}

/* input type file */
:where(input[type="file"]) {
  border: var(--border-size-1) solid var(--surface-2);
  border-radius: var(--radius-2);
  background: var(--surface-2);
  box-shadow: var(--inner-shadow-4);
  color: var(--text-2);
  cursor: auto;
  max-inline-size: 100%;
  padding: 0;

  &:focus {
    outline: 2px solid var(--brand);
    outline-offset: 5px;
  }
}

:where(input[type="file"])::file-selector-button {
  --bg-light: white;
  --bg-dark: var(--surface-3);
  --bg: var(--bg-light);

  background: var(--bg);
  border: var(--border-size-2) solid var(--surface-3);
  border-radius: var(--radius-2);
  font-weight: var(--font-weight-7);
  padding-block: 0.75ch;
  padding-inline: var(--size-relative-6);
  transition: border-color 0.5s var(--ease-3);
  cursor: pointer;
  margin-inline-end: var(--size-relative-6);
}

html[data-theme="dark"] :where(input[type="file"])::file-selector-button {
  --bg: var(--bg-dark);
}

@media (prefers-reduced-motion: no-preference) {
  :where(input[type="file"]) {
    transition: outline-offset 145ms var(--ease-4);
  }

  :where(input[type="file"])::file-selector-button {
    transition:
      border-color 0.5s var(--ease-3),
      box-shadow 145ms var(--ease-4);
  }
}
