@import url("open-props/style");
@import url("open-props/normalize");
@import url("open-props/buttons");

html {
  --brand-0: #d0def7;
  --brand-1: #a3bdee;
  --brand-2: #779de3;
  --brand-3: #4b7bd7;
  --brand-4: #1e57c9;
  --brand-5: #133e95;
  --brand-6: #092764;
  --brand-7: #031236;
  --brand-8: #00030f;
}

body {
  --brand: var(--brand-4);
  --header-size: 50px;
  --error-color: var(--red-12);

  inline-size: 500px;
  block-size: 590px;
  min-block-size: unset;
  font-family: var(--font-humanist);
  font-size: var(--font-size-2);
}

@media (prefers-color-scheme: dark) {
  body {
    --brand: var(--brand-0);
    --error-color: var(--red-3);
  }
}

#root {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-4);
  max-inline-size: unset;
}

h1 {
  font-size: var(--font-size-5);
}

h2 {
  font-size: var(--font-size-4);
}

h3 {
  font-size: var(--font-size-3);
}

p,
ul,
ol,
dl,
h4,
h5,
h6 {
  font-size: var(--font-size-2);
}
