@import url("open-props/style");
@import url("open-props/normalize");
@import url("open-props/buttons");
@import url("solid-notifications/index.css");

html {
  --brand-0: #d0def7;
  --brand-1: #a3bdee;
  --brand-2: #779de3;
  --brand-3: #4b7bd7;
  --brand-4: #1e57c9;
  --brand-5: #133e95;
  --brand-6: #092764;
  --brand-7: #031236;
  --brand-8: #00030f;
  --brand-light: var(--brand-4);
  --brand-dark: var(--brand-0);
  --brand: var(--brand-light);
  --header-size: 50px;
  --error-color-light: var(--red-12);
  --error-color-dark: var(--red-3);
  --error-color: var(--error-color-light);
}

@media (prefers-color-scheme: dark) {
  html {
    --brand: var(--brand-dark);
    --error-color: var(--error-color-dark);
  }

  :root {
    /* todo maybe follow the styling guide of the notifications package after
        adding explicit light/dark theme switch
        https://solid-notifications.vercel.app/guides#customization-via-css-variables */
    --sn-toast-text-color: var(--text-1);
    --sn-toast-bg-color: var(--surface-2);
    --sn-dismiss-btn-color: #bfc5cf;
    --sn-dismiss-btn-hover-color: #f9fafb;
  }
}

body {
  inline-size: 500px;
  block-size: 100%;
  min-block-size: 600px;
  font-family: var(--font-humanist);
  font-size: var(--font-size-2);
}

#root {
  block-size: 100%;
  min-block-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-4);
  max-inline-size: unset;
}

h1 {
  font-size: var(--font-size-5);
}

h2 {
  font-size: var(--font-size-4);
}

h3 {
  font-size: var(--font-size-3);
}

p,
ul,
ol,
dl,
h4,
h5,
h6 {
  font-size: var(--font-size-2);
}
