@import url("open-props/style");
@import url("open-props/normalize");
@import url("buttons.css");
@import url("open-props/theme.light.switch.min.css");
@import url("open-props/theme.dark.switch.min.css");
@import url("solid-notifications/index.css");

html {
  --brand-0: #d0def7;
  --brand-1: #a3bdee;
  --brand-2: #779de3;
  --brand-3: #4b7bd7;
  --brand-4: #1e57c9;
  --brand-5: #133e95;
  --brand-6: #092764;
  --brand-7: #031236;
  --brand-8: #00030f;
  --brand-light: var(--brand-4);
  --brand-dark: var(--brand-1);
  --brand: var(--brand-light);
  --brand-complementary-light: #c9901e;
  --brand-complementary-dark: #e0bd86;
  --brand-complementary: var(--brand-complementary-light);
  --header-size: 50px;
  --error-color-light: var(--red-12);
  --error-color-dark: var(--red-1);
  --error-color: var(--error-color-light);
  --error-bg-color-light: var(--pink-0);
  --error-bg-color-dark: var(--pink-12);
  --error-bg-color: var(--error-bg-color-light);
  --success-color-light: var(--green-9);
  --success-color-dark: var(--green-0);
  --success-color: var(--success-color-light);
  --success-bg-color-light: #f3faf9;
  --success-bg-color-dark: var(--teal-10);
  --success-bg-color: var(--success-bg-color-light);
  --info-color-light: var(--indigo-9);
  --info-color-dark: var(--indigo-1);
  --info-color: var(--info-color-light);
  --info-bg-color-light: #f0f7fd;
  --info-bg-color-dark: var(--blue-11);
  --info-bg-color: var(--info-bg-color-light);
}

html[data-theme="dark"] {
  --brand: var(--brand-dark);
  --brand-complementary: var(--brand-complementary-dark);
  --error-color: var(--error-color-dark);
  --error-bg-color: var(--error-bg-color-dark);
  --success-color: var(--success-color-dark);
  --success-bg-color: var(--success-bg-color-dark);
  --info-color: var(--info-color-dark);
  --info-bg-color: var(--info-bg-color-dark);
}

body {
  inline-size: 500px;
  block-size: 100%;
  min-block-size: 600px;
  font-family: var(--font-humanist);
  font-size: var(--font-size-2);
  line-height: var(--font-lineheight-2);
  letter-spacing: -0.2px;
}

#root {
  block-size: 100%;
  min-block-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-4);
  max-inline-size: unset;
}

h1 {
  font-size: var(--font-size-5);
}

h2 {
  font-size: var(--font-size-4);
}

h3 {
  font-size: var(--font-size-3);
}

p,
ul,
ol,
dl,
h4,
h5,
h6 {
  font-size: var(--font-size-2);
}

@media (prefers-reduced-motion) {
  ::view-transition-group(*),
  ::view-transition-old(*),
  ::view-transition-new(*) {
    animation: none !important;
  }
}
