.unstyled {
  --highlight-size: 0;

  background: transparent;
  border-radius: var(--radius-2);
  padding: var(--size-1);
}

.unstyled:focus-visible,
.unstyled:not([disabled]):hover {
  background-color: var(--surface-3);
}
