.link:focus-visible {
  z-index: var(--layer-1);
}

.link svg {
  inline-size: var(--size-4);
}

@media (prefers-reduced-motion: no-preference) {
  .link > * {
    transition: transform 200ms var(--ease-1);
  }
}

.link:focus-visible > *,
.link > *:hover {
  transform: scale(150%);
}
