.feed-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--size-2);
}

.feed-favicon > * {
  inline-size: var(--size-3);
  block-size: var(--size-3);
  font-size: var(--font-size-00);
}
