.previous-url {
  flex-shrink: 0;
}

.updates-off {
  flex-shrink: 0;
  margin-block-start: var(--size-1);
  margin-inline-start: calc(-1 * var(--size-1));
  opacity: 0.6;

  svg {
    inline-size: var(--size-5);
    block-size: auto;
  }
}

.posts-filter {
  margin-inline-start: auto;
}
