.posts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: var(--size-2);
}

.post {
  padding: var(--size-1) var(--size-2);
  border: var(--border-size-1) solid var(--surface-4);
  border-radius: var(--radius-2);
  color: var(--text-1);
}

.title {
  display: -webkit-box;
  -webkit-box-orient: block-axis; /* stylelint-disable-line property-no-deprecated */
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin-block-end: var(--size-1);
}
