.unread-toggle > * {
  inline-size: var(--size-3);
  block-size: var(--size-3);
  border-radius: 50%;
  filter: blur(1px);
}

@media (prefers-reduced-motion: no-preference) {
  .unread-toggle > * {
    transition: transform 200ms var(--ease-1);
  }
}

.unread-toggle > *:focus-visible,
.unread-toggle > *:hover {
  transform: scale(150%);
}

.unread {
  background-color: var(--brand);
}

.read {
  background-color: var(--surface-4);
}
