.header {
  block-size: var(--header-size);
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;

  /* ensure header is above an open dropdown menu */
  position: relative;
  z-index: var(--layer-1);
}

.tab {
  flex-grow: 1;
  display: grid;
  place-items: center;
  background-color: var(--surface-2);
  border-block-end: 3px solid var(--surface-4);
  cursor: pointer;
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-7);
}

.tab.active {
  background-color: var(--surface-1);
  border-block-end-color: var(--surface-1);
}

.tab:focus-visible {
  z-index: var(--layer-1);
  outline-offset: -2px;
}

.bookmarks {
  border-inline: 3px solid var(--surface-4);
}
