.load-more {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--size-1);
  inline-size: 100%;
  background-color: var(--surface-2);
  margin-block-start: var(--size-2);
  padding: var(--size-3);

  svg {
    inline-size: var(--size-3);
    block-size: auto;
  }
}
