.menu {
  min-inline-size: var(--size-12);
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  background-color: var(--surface-2);
  padding: var(--size-1) var(--size-2);
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-4);
}

@media (prefers-reduced-motion: no-preference) {
  .menu {
    transition: opacity 400ms var(--ease-1);
  }
}

.menu-visible {
  opacity: 1;
}

@starting-style {
  .menu-visible {
    opacity: 0;
  }
}
