.manage-data {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: var(--size-2);

  & > * {
    flex-grow: 1;
    flex-basis: 40%;
  }

  p {
    font-size: var(--font-size-0);
    color: var(--text-2);
  }

  .warning {
    color: var(--error-color);
  }

  legend {
    font-size: smaller;
  }

  .search {
    min-inline-size: 100%;
  }
}
