.search {
  flex-grow: 1;
  align-self: stretch;

  & > :first-child {
    block-size: 100%;
    margin-block-end: 0;
  }

  input {
    outline-offset: -1px;
  }
}

.filters {
  border-radius: var(--radius-2);
  margin-block-end: var(--size-1);

  &:has([popover]:popover-open) [popovertarget] {
    background-color: var(--surface-3);
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--size-1);

    .search-results-text {
      margin-inline-end: auto;
      color: var(--text-2);
    }
  }

  .filters-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--size-3);

    & > * {
      flex: 1;
    }
  }
}
